$font-family-sans-serif:  'Scada', 'PT Sans', sans-serif;
$font-family-serif:  'PT Serif', serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-serif;

$body-bg: #000;
$body-background: url("../img/stars.jpg");
$body-color: #fff;
$body-color-night: #fefefe;
$link-color: #4400b9;
$btn-bg: grey;
$btn-color: lighten($btn-bg, 50%);
$secondary-bg: #F1EED9;

$brand-primary: lighten($body-color, 20%);
$brand-danger: darken(#fff, 30%);

$waycolor: $link-color;
$text_background: transparent;
$animation_duration: 2s;

$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       false;
$enable-print-styles:       true;

$ok-color: $link-color;
$neutral-color: brown;
$warning-color: darkred;
