@import "variables";
@import "bootstrap";
@import "open-iconic";

body {
  background-color: $body-bg;
  background-image: $body-background;
}
.container {
  @include make-container();
  @include make-container-max-widths();
}
#content_wrapper {
  @include make-row();
  background: $text_background;
  max-height: 70%;
}
.footer {
  @include make-row();
  #choices {
    @include make-col(12);
    text-align: center;
  }
}
.content {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    padding-left: 3em;
    padding-right: 3em;
  }
  padding: 1em;
  h1, h2, h3, h4, h5 {
    text-align: center;
  }
  blockquote {
    font-family: "EB Garamond", serif;
    margin: 1em 2em;
    line-height: 1.45;
    color: #383838;
    font-size: $font-size-base* 1.4;
  }
  .room-start {
    border-top: none;
  }
}
ul.options {
  margin: 0;
  padding: 0 0 0 1em;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  list-style-type: none;
  li {
    @include make-col(9);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    &.active a > div{
      background-image: linear-gradient(45deg, #a0e0e0, #fff) !important;
    }
    .title {
      font-size: 16pt;
    }
    .subtitle {
      font-size: 12pt;
    }
  }
  li a {
    display: block;
    margin-bottom: 0.5em;
    font-family: $headings-font-family;
    text-decoration: none;
    > div {
      border-radius: 5px;
      border: 1px solid #000;
      padding: 1em;
      background-image: linear-gradient( 45deg, #ccc, #fff );
      color: $ok-color;
      &:hover {
        background-color: rgba(153,136,119,0.2);
        background-image: none;
      }
    }
  }
  .warning {
    background-image: linear-gradient( 45deg, #ddd, #fff );
    color: $warning-color;
  }
  .neutral {
    background-image: linear-gradient( 90deg, #ccc, #fff );
    color: $neutral-color;
  }
  &.narrowchoice {
    margin-right: 30% !important;
    margin-left: 30% !important;
  }
}
hr {
  width: 50%;
  border-color: $body-color;
}
.center {
  text-align: center;
}
.effect {
  color: #4c20dd;
}
#map {
  max-width: 400px;
  height: 400px;
  margin: auto;
}
.medskip {
  margin-top: $font-size-base * 1.5;
  margin-bottom: $font-size-base * 1.5;
}
.night {
  background-image: radial-gradient(circle,rgba(0,0,0,.7),rgba(0,0,0,1)) !important;
  background-size: 100% 100%;
  color: $body-color-night !important;
  .nav-item {
    a {
      color: $body-color-night !important;
    }
  }
  a {
    color: lighten($link-color, 30%);
  }
  .btn-outline-primary {
    color: #777;
  }
  .tab.active {
    background: #333 !important; 
  }
}
button.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.tab_wrapper {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  .tab {
    padding: 1em 1.5em;
    cursor: pointer;
    &.active {
      background-color: invert($body-bg);
      color: invert($body-color);
      a {
        color: invert($body-color);
      }
    }
    a {
      color: $body-color;
    }
  }
}
